
body{
    background-color: #F1FFFC;
    color:#555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin:0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header{
    background-color:#f3f3f3;
    columns: #333;
    font-size: small;
    height: 60 px;
}

#navbar{
    background-color: #333;
    color:white;    
}
#navbar ul{
    padding:0;
    list-style: none;
}
#navbar li{
    display: inline;
}
#navbar a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#showcase {
    background-image: url('../pic/bg.jpg');
    background-position: center;
    min-height: 202px;
    margin-bottom: 30px;
    text-align: center; 
}
#showcase {
    color: brown;
    font-size: 30px;
    line-height: 1em;
    padding-top: 15px;
}

#main{
    float:left;
    width: 70%;
    padding:0px 30px;
    box-sizing: border-box;
}
#sidebar{
    float: right;
    width: 30%;
    background: #333;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}


#main-footer{
    background: #c0c0c0;
    color: black;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

/* case where the float become a problems*/
@media(max-width:600px){
    #main{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
}